.hidden {
    display: none;
}
 body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #FFFFFF;

 }

 /* reset */
 ul,
 ol {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 a {
     text-decoration: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 button {
    cursor: pointer;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0, 0, 0, 0);
     overflow: hidden;
 }
 /* common */
 .container {
     max-width: 320px;
     padding: 0 16px;
     margin: 0 auto;
 }
 @media screen and (min-width:768px) {
    .container {
            max-width: 768px;
        }
 }
 @media screen and (min-width:1158px) {
     .container {
        max-width: 1158px;
        padding: 0 15px;
     }
 }

 /* header */
 .page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 }

 .header-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .nav-list, .contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {

.burger-btn {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
}
.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: "";

    width: 100%;
    height: 4px;

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;

    background-color: #404bbf;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width:1158px) {
.header-logo {
    margin-right: 76px;
}

.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu.is-open {
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.mobile-menu-container {
position: relative;
display: flex;
flex-direction: column;
height: 100%;
max-width: 100%;
padding: 72px 16px 40px;
margin: 0 auto;
}

.mobile-menu-nav {
    margin-bottom: auto;
    
}
.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.current {
    color: #404bbf;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts-link.accent {
    color: #4d5ae5;
}

.mobile-contacts-list {
display: flex;
flex-direction: column;
gap: 40px;
justify-content: center;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.menu-socials {
    display: flex;
    gap: 40px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff;
}
@media screen and (min-width:768px) {
.mobile-menu {
    display: none;
}
}

/* hero */

.hero {
    padding: 72px 0;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/mob-hero@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/@2/office-mb@2\ \(1\).jpg");
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
}

.hero-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/office-tb.jpg");
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .hero-btn {
        margin: 36px auto 0;
    }
}
@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/tab-hero@2x.png");
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office-hero.jpg");
    }

    .button-main {
        margin: 48px auto 0;
    }

    .hero-btn:hover,
    .hero-btn:focus {
        background-color: #404bbf;
    }

}

@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/@2/office@2.jpg");
    }
}

/*benefits*/

.benefits {
    padding: 96px 0;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-icon {
    display: none;
}

.heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.benefits-text,
.team-dscr,
.portfolio-text,
.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .heading-two {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .benefits-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .heading-two {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
    }

    .benefits-text,
    .team-dscr,
    .portfolio-text,
    .footer-text {
        font-weight: 400;
    }
}

/*team*/

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.heading-two {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
background-color: #fff;
width: 264px;
border-radius: 0 0 4px 4px;
box-shadow:
 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text {
    padding: 32px 0;
    text-align: center;
}

.team-text .heading-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-dscr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {

    .team-social-link:hover,
    .team-social-link:focus {
        background-color: #404bbf;
    }
}

/*portfolio*/

.portfolio {
    padding: 96px 0;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    background-color: #fff;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.portfolio-info .heading-three {
    text-align: left;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        max-width: 356px;
        width: calc((100% - 24px) / 2);
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        max-width: 360px;
        width: calc((100% - 48px) / 3);
    }

    .portfolio-item:hover {
        box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .portfolio-overlay-text {
        transform: translateY(0);
    }
}